
*, *:before, *:after {
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
}

.container{
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
}

#slider{
    height: 100%;
}

.slide{
    width: 100%;
    height: 100%;
    display: inline-block;
}

#scrolling-bar{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
}

.slideMenuButton{
    display: inline-block;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 15px 0;
}

#scroller{
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    border-bottom: 4px solid black;
    background-color: rgba(90,43,80,0.4);
}


.span{
    width: 1px;
    height: 1px;
    border-right: 1px solid white;
}


/* Medium and up screens */

@media (min-width: 992px) { 
    .container{
        overflow-y: hidden;
    }
}

.red{
    background-color: red;
}


.blue{
    background-color: blue;
}


.green{
    background-color: green;
}


.yellow{
    background-color: yellow;
}

